.movie-component {
    padding: 20px;
    border: 2px solid #e6322f;
    background-color: black;
    height: 680px;
    position: relative;
    width: 100%;
    overflow: hidden;

    .iconss {
        width: 100%;
        display: flex;
        position: absolute;

        .right {
            color:#e6322f;
            margin-top: 250px;
            margin-right: 6px;
            width: 50px;
            height: 50px;
            z-index: 1;
        }
    
        .left {
            color:#e6322f;
            margin-top: 250px;
            margin-left: -25px;
            margin-right: auto;
            width: 50px;
            height: 50px;
            z-index: 1;
        }
    
    }
    .movie-inner-component {
        display: flex;
        left: 0px;
        position: relative;

        .movieImgTxt {
            text-align: center;
            margin: 0px 10px;
            display: block;
            color: white;

            h2 {
                color: gold;
            }

            .movie_image {
                width: 380px;
                height: 550px;
                object-fit: cover;
                object-position: center center;
            }

        }
    }
}