.home-footer {
    padding: 60px 30px;
    background-color: #1a1a1a;
    .footer-row {
        .footer-net-head {
        
            .footer-flix {
               color: #e6322f;
               float: left;
               display: block;
            }
            .footer-flix span {
               font-size: 40px;
               letter-spacing: 4px;
               overflow: visible;
               padding: 0px;
               font-weight: 700;
            }
            
         }
    }
}